li {
  list-style: none;
}

.section_four {
  background-image: url(../img/Main/section_four/section_four_background.jpg);
}

.one {
  background-image: url(../img/Main/section_one/section_background.jpg);
}

.nav {
  display: flex;
  justify-content: space-around;
}

.header_link-link_1 {
  display: flex;
  color: #000000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.header_link-link_2 {
  display: flex;
  color: #000000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.header_link-link_3 {
  display: flex;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.avatar {
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.avatar_name {
  border-bottom: 3px solid #fff;
  background: rgba(43, 74, 97, 0.87);
}

.IT {
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.zero {
  background: url(<path-to-image>) lightgray -165.746px 331.63px / 187.845% -415.761%
    no-repeat;
}

.avatar_3 {
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.class {
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}
